# --- CHAINS ---
VITE_LISK_CHAIN_ID=4202
VITE_LISK_RPC_URL=https://rpc.sepolia-api.lisk.com

VITE_BASE_CHAIN_ID=84532
VITE_BASE_RPC_URL=https://base-sepolia-rpc.publicnode.com

VITE_SEPOLIA_CHAIN_ID=11155111
VITE_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# --- CONTRACT ADDRESSES (LISK) ---
VITE_ADDR_LISK_TOKEN_SAN=0x....
VITE_ADDR_LISK_VAULT_SAN=0x....

VITE_ADDR_LISK_TOKEN_SIDR=0x....
VITE_ADDR_LISK_VAULT_SIDR=0x....

VITE_ADDR_LISK_DEX_ROUTER=0x....

# --- CONTRACT ADDRESSES (DESTINATIONS) ---
VITE_ADDR_BASE_WSAN=0x....
VITE_ADDR_BASE_WSIDR=0x....
VITE_ADDR_BASE_DEX_ROUTER=0x....

VITE_ADDR_SEPOLIA_WSAN=0x....
VITE_ADDR_SEPOLIA_WSIDR=0x....
VITE_ADDR_SEPOLIA_DEX_ROUTER=0x....