# ==========================================
# 🔐 SECURITY (KEYSTORE)
# ==========================================
# Path ke file JSON Keystore (UTC/Geth format).
# Pastikan file ini ada di folder project Anda.
KEYSTORE_PATH=/usr/src/app/keystore/relayer_keystore.json

# Password untuk membuka file keystore di atas
KEYSTORE_PASSWORD=password-file-keystore

# ==========================================
# ⚙️ SYSTEM SETTINGS
# ==========================================
# Lokasi file database SQLite
DB_PATH=relayer.db

# Interval polling dalam milidetik
POLL_INTERVAL=2000

# Jumlah blok maksimal yang discan per loop
BLOCK_STEP=1

# ==========================================
# 🌐 CHAIN CONFIGURATION (RPCs & IDs)
# ==========================================
# Pisahkan Read (Public Node) dan Write (Private/Infura/Alchemy) untuk efisiensi.

# --- LISK SEPOLIA (Origin) ---
LISK_CHAIN_ID=4202
LISK_READ_RPC=https://lisk-sepolia.drpc.org
LISK_WRITE_RPC=https://lisk-sepolia.drpc.org

# --- BASE SEPOLIA (Destination 1) ---
BASE_CHAIN_ID=84532
BASE_READ_RPC=https://base-sepolia-rpc.publicnode.com
# Disarankan pakai Alchemy/Infura untuk Write agar transaksi lancar
BASE_WRITE_RPC=https://base-sepolia.infura.io/v3/....

# --- ETHEREUM SEPOLIA (Destination 2) ---
SEPOLIA_CHAIN_ID=11155111
SEPOLIA_READ_RPC=https://ethereum-sepolia-rpc.publicnode.com
# Disarankan pakai Alchemy/Infura untuk Write
SEPOLIA_WRITE_RPC=https://sepolia.infura.io/v3/....

# ==========================================
# 🏠 CONTRACT ADDRESSES - LISK (ORIGIN)
# ==========================================

# 1. Token Utama (SAN)
ADDR_LISK_TOKEN_SAN=0x....
ADDR_LISK_VAULT_SAN=0x....

# 2. Token Rupiah (SIDR)
ADDR_LISK_TOKEN_SIDR=0x....
ADDR_LISK_VAULT_SIDR=0x....

# ==========================================
# 🔵 CONTRACT ADDRESSES - BASE (DESTINATION)
# ==========================================

# Wrapped Token Utama (wSAN)
ADDR_BASE_WSAN=0x....

# Wrapped Rupiah (wSIDR)
ADDR_BASE_WSIDR=0x....

# ==========================================
# 🟣 CONTRACT ADDRESSES - SEPOLIA (DESTINATION)
# ==========================================

# Wrapped Token Utama (wSAN)
ADDR_SEPOLIA_WSAN=0x....

# Wrapped Rupiah (wSIDR)
ADDR_SEPOLIA_WSIDR=0x....


