KEYSTORE_PATH="path-file-keystore-deployer-account"
KEYSTORE_PASSWORD="password-file-keystore-deployer-account"

SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/...."

BASE_RPC_URL="https://base-sepolia.infura.io/v3/...."

LISK_SEPOLIA_RPC_URL="https://rpc.sepolia-api.lisk.com"

ETHERSCAN_API_KEY=api-key-etherscan-account

RELAYER_ADDRESS="0x...."
